@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+KR&display=swap');


.background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    padding: 0;
}

.imagebox{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.image{
    width: 100vw;
    margin: 0 auto;
    display: block;
}




.logo{
    z-index: 100;
    position: absolute;
    top: 5%;
    width: 80%;
}

.define{
    font-family: 'Archivo Black', sans-serif;
    color: #0014FE;
    z-index: 100;
    position: absolute;
    top: 44%;
    width: 100%;
}
.sign{
    font-family: 'Archivo Black', sans-serif;
    z-index: 100;
    position: absolute;
    bottom: 5%;
    letter-spacing: 50%;
    width: 100%;

}

@media(min-width:600px){

    .image{
        width: 400px;
    }
    .logo{
        width: 250px;
        top: 15px;
    }
    .sign{
        bottom: 30px;
    }
    .define{
        top: 90px;
    }
}